.menbackgound{
    background-color: black;
    width: 100%;
    height: 80px;
    position:absolute;
}

.section1{
    background-image: linear-gradient(to right, #b45721, #000000);
}

.section2{
    background-image: linear-gradient(to right, #b45721, #000000);
}

.section3{
    background-image: linear-gradient(to right, #b45721, #000000);
}