.title1{
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: calc(12px + (35 - 20) * ((100vw - 320px) / (1920 - 320)));
    letter-spacing: 2px;
    font-family: "Arial";
}
.title2{
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: calc(40px + (35 - 20) * ((100vw - 320px) / (1920 - 320)));
    font-family: Georgia, serif;
}
.typic{
    color: #e6d600;
}
.btn1{
    font-size: 20px;
    background-color: #e6d600;
}
.btnlink{
    text-decoration: none;
    color: rgb(26, 25, 25);
    font-weight: 500;
}
.btn1:hover{
    transform: translateY(0) scale(1.05);
    transition: all 0.5s;
}