.container{
    width: 370px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 15px;

    /*border: solid rgba(121, 121, 121, 0.5);*/
}
@media screen and (max-width : 992px) {
    
    .container{
        margin: auto;
        
        }
    }


.container:hover{
    border-color: rgba(121, 121, 121, 0.5);
    box-shadow: 0 0 50px rgba(121, 121, 121, 0.5);
    transform: scale(1.01);
}

.title{
    
    text-align: center;
}
.price h1{
    margin: 5px;
    text-align: center;
    background-color: #FFED00;
    padding: 10px;
    border-radius:10px;
    font-weight: bolder;
    font-size: 60px;
}
.live{
    margin: 5px;
    text-align: center;
    background-color: black;
    color: white;
    border-radius:10px;
    padding: 10px;
}

.icon{
    width: 20px;
    color: #FFED00;
}
.info{
    display: block;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.butn{
    text-align: center;
}

.btn{
    font-size: 20px;
    background-color: #e6d600;
    text-align: center;
}
.btn:hover{
    transform: translateY(0) scale(1.1);
    transition: all 0.5s;
    border: solid 1px #e6d600;
}
.btnlink{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 500;
}

.iconeCrow{
    width: 100px;
    color: #e6d600;
}