.container{
    width: 280px;
    background-color: #e2b2a6;
    border-radius: 20px;
    padding: 5px;

    /*border: solid rgba(121, 121, 121, 0.5);*/
}
@media screen and (max-width : 992px) {
    
    .container{
        margin: auto;

        }
    }


.container:hover{
    border-color: rgba(121, 121, 121, 0.5);
    box-shadow: 0 0 20px rgba(255, 94, 0, 0.5);
    transform: scale(1.0001);
    
}

.title{
    
    text-align: center;
}
.price h4{
    margin: 5px;
    text-align: center;
    background-color: #FF5F1F;
    padding: 5px;
    border-radius:10px;
    font-weight: bolder;
    font-size: 30px;
}
.live{
    font-size: 14px;
    margin: 5px;
    text-align: center;
    background-color: black;
    color: white;
    border-radius:10px;
    padding: 5px;
}

.icon{
    width: 15px;
    color: #FF5F1F;
}
.info{
    display: block;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
}

.butn{
    text-align: center;
}

.btn{
    font-size: 18px;
    background-color: #FF5F1F;
    text-align: center;
    margin-bottom: 5px;
    border-radius: 50px;
}
.btn:hover{
    transform: translateY(0) scale(1.01);
    transition: all 0.5s;
    border: solid 1px #FF5F1F;
    background-color: #FF5F1F;
}
.btnlink{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 500;
}

.iconeCrow{
    width: 70px;
    color: #FF5F1F;
}