.imagesCarousel{
    width: 200px;
    height: 330px;
    border: 1px solid transparent ;
    border-bottom: none;
    border-top: none;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 15px
}

.imagesCarousel1{
    width: 250px;
    height: 100px;
    border: 1px solid transparent ;
    border-bottom: none;
}
.firstCaro{
    background-color: transparent;
    width: 100%;
    margin-top: 0;
}
.secondCaro{
    background-color: transparent;
    margin-top: 0;
}
.title{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: #FF6020;

}