.card{
    padding: 5px;
    border: 1px solid #f7a409;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    background: #FF6020;
    background: conic-gradient(from 135deg, #FF6020, #000000);
}
.title{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: #FF6020;
}
.soustitle{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}

.tit1{
    color: #f7b10b;
}
.tit2{
    color: #f7b10b;
}
.tit3{
    color: #f7b10b;
}