.formStyling{
    background-color: #fb9b50;
    border-radius: 10px;
}

.btnSub{
    font-size: 20px;
    background-color:  #FF5F1F;
}
.btnSub:hover{
    background-color: #FF5F1F;
}

.iconSend{
    width: 15px;
    color: #fb9b50;
}
.messageSend{
    color: #fb9b50;
    font-weight: 500;
}
.spiner{
    width: 1.5rem;
    height: 1.5rem;
    color: #af0000;
}

.messageSendError{
    color: #e60000;
    font-weight: 500;
}
.iconSendError{
    width: 15px;
    color: #ff0000;
}