.accordionBtn button{
    background: rgba(255,237,0,0.2);
    border-color: rgb(255,237,0);;
    box-shadow: none;
    outline-color: rgb(56, 56, 49);;
  
}
.accordionBtn button:focus{
    border-color: rgb(255,237,0);;
    box-shadow: none;
}


