.menbackgound{
    background-color: black;
    width: 100%;
    height: 80px;
    position:absolute;
}

.section1{
    background-image: linear-gradient(to right, #b04f34, #190a05);
}

.btn1{
    font-size: 20px;
    background-color: #FF5F1F;
    border-radius: 30px;
    border: none;
}
.btn1:hover{
    transform: translateY(0) scale(1.05);
    transition: all 0.5s;
    background-color: #FF5F1F;
}

.btnlink{
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.fonticone{
    width: 28px;
}
.icon{
    width: 20px;
    color: #FF5F1F;
}