
.btn1{
    font-size: 20px;
    background-color: #e6d600;
    border-radius: 30px;
}
.btn1:hover{
    transform: translateY(0) scale(1.05);
    transition: all 0.5s;
}
.btnlink{
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.fonticone{
    width: 28px;
}
.icon{
    width: 20px;
    color: #FFED00;
}