.imageback{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../public/imagebackhome.png');
    min-height: 100vh;
    width: 100%;
    margin: 0;
    position: relative;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}
.section2{
    /*background-color: rgba(212, 212, 212,0.5);*/
}
.section3{
    background-color: rgba(0, 0, 0, 1);
}
.section4{
    /*background-color: rgba(212, 212, 212,0.5);*/
    
}

.section5{
    padding: 0px;
    
}



