.section1{
    background-color: transparent;
    position: relative;
}

.imageback{
    height: 70vh;
    width: 100%;
    z-index: 0;
    margin: 0;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.contenu{
    position: relative;
    z-index: 1;
}

.title1{
    color: #FAF5E9;
    font-weight: 500;
    font-size: calc(14px + (35 - 20) * ((100vw - 320px) / (1920 - 320)));
}
.title2{
    color: #FAF5E9;
    font-weight: 900;
    font-size: calc(37px + (35 - 20) * ((100vw - 320px) / (1920 - 320)));
    font-family:'Roboto',sans-serif    
}
/* .typic{
    color: #e6d600;
} */
.btn1{
    font-size: calc(12px + (35 - 20) * ((100vw - 320px) / (1920 - 320)));
    background-color: #FF5F1F;
    border-radius: 20px;
    border: none;
    transition: all 0.2s;
    padding : 7px 24px 7px 24px ;
    margin-left: 30px;
    
}
@media screen and (max-width : 600px) {
    .btn1{
        margin-left: 5px;
        padding: 8px 12px 8px 12px;
        font-size: 16px;
    }
}


.btnlink{
    text-decoration: none;
    color: #2c599d;
    font-weight: 650;  
}
.btn1:hover{
    transform: translateY(0) scale(0.92);
    background-color: #fb9b50;
    border: none;
}

/* 
.section1{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../public/testoptim.png');
    background-color: black;
    background-position: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    position: relative;
    
} */
.section2{
 margin-top: 0px;
 background-image: linear-gradient(to right, #b04f34, #190a05);
 
}
.section3{
    background-image: linear-gradient(to right, #b04f34, #190a05);

}
.section4{
    background-image: linear-gradient(to right, #b04f34, #190a05);
}
.section7{
    background-image: linear-gradient(to right, #b04f34, #190a05);
}
.section8{
    background-image: linear-gradient(to right, #b04f34, #190a05);

}
.section10{
    background-image: linear-gradient(to right, #b04f34, #190a05);
}
.section5{
    background-image: linear-gradient(to right, #b04f34, #190a05);
}
.section6{
    background-image: linear-gradient(to right, #b04f34, #190a05);
}



/* @media screen and (max-width : 600px) {
    .imageback{
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('../public/testoptim600.png');
        background-color: black;
        background-position: center;
        min-height: 100vh;
        width: 100%;
        margin: 0;
        position: relative;
    }
} */



